@using System.Configuration
@using Microsoft.AspNet.Identity
@using ToDo.Core.Models
@model IEnumerable<ToDo.Core.ViewModels.ToDoViewModel>
@{
    ViewBag.Title = "Home Page";
    var userId = User.Identity.GetUserId();
}

@if (!User.Identity.IsAuthenticated)
{
    <h2>Please log in.</h2>

    <p>Please authenticate if you wish to check your ToDo list. </p>
}

else
{
    <h2>My ToDo List</h2>
    <div>

        <div class="pull-right">
            @Html.ActionLink("Time",
                "Time",
                "Home",
                null,
                new { @class = "btn btn-default" })
            @Html.ActionLink(@Model.ElementAt(0).Check,
                "Date",
                "Home",
                null,
                new { @class = "btn btn-default" })
            @Html.ActionLink("New ToDo",
                "Index",
                "ToDo",
                null,
                new { @class = "btn btn-primary" })
        </div>
    </div>
    

    <br/>
    <br/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "SortByName", "Home")
                </th>
                <th>Description</th>
                <th>Time</th>
                <th>
                    @Html.ActionLink("Priority", "SortByPriority", "Home")
                </th>
                <th>Created At.</th>
                <th>Updated At</th>
                <th>
                    @Html.ActionLink("Status", "SortByStatus", "Home")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                var time = new TimeSpan();
                time = todo.Time - DateTime.Now;
                <tr class="@(todo.ToDoStatus == ToDoStatus.Open ? "" : "new-color")">
                    <td>@todo.Name</td>
                    <td>@todo.Description</td>
                    <td>@todo.Time.ToString("dd MMM yyy // HH:mm")</td>
                    <td>@todo.ToDoPriorities.Name</td>
                    <td class="js-created-todo">@todo.CreatedAt</td>
                    <td>@todo.UpdatedAt</td>
                    <td>
                        <button data-id-attr="@todo.Id" class="btn-link js-status-todo">@todo.ToDoStatus</button>
                    </td>
                    <td>
                        @Html.ActionLink("Edit",
                            "Edit",
                            "ToDo",
                            new { id = todo.Id },
                            new { @class = "btn-link" })
                        <button data-id-attr="@todo.Id" class="btn-link js-delete-todo">Delete</button>
                    </td>
                </tr>
                    EmailSender.SendAnHourBefore(todo, userId, time);
                
                    EmailSender.SendHalfAnHourBefore(todo, userId, time);
                
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            StatusController.statusChange();
            StatusDelete.deleteToDo();
        });
    </script>
}